.<!DOCTYPE html>
<html>
<head>
  <title>Videoclub</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name,msg| %>
  <%= content_tag :div,msg,:id=>"flash#{name}" %>
  <% end %>
<div id ="contenedor">
	<div id="encabezado">
		<div id="logo"></div>
		<div id="control_login">
  			<% if current_user %>
   			 	<%= current_user.email %>
    				<%= link_to "Log out", log_out_path,class: "btn btn-large btn-primary" %>
  			<% else %>
    				<%= link_to "Sign up", sign_up_path,  class: "btn btn-short btn-primary" %>
    				<%= link_to "Log in",  log_in_path ,  class: "btn btn-short btn-primary"%>
  			<% end %>
		</div>
	</div>

	<div id="cuerpo">
			<div id ="menu_izq">
				<% if current_user %>
   			 		<% if current_user.group %>
    						<%= render 'users/menu_admin'  %>
  					<% else %>
    						<%= render 'users/menu_user' %>
					<%end%>
    				<% end %>
			</div>
			<div id ="contenido"><%=yield()%></div>
			<div id= "menu_dch"></div>
        </div>

 	<div id="pie">
			
	</div>

</div>
</body>
</html>
